.welcome-card img {
  max-height: 20vh;
  overflow: hidden;
}

ion-card {
  text-align: left;
  margin-top: 5px;
  margin-bottom: 10px;

  ion-card-header {
    padding: 15px;
  
    ion-card-title {
      font-size: 22px;
    }
  }
}

.card-content-ios {
  padding: 0px 15px 15px 15px;
}
