<ion-header>
  <ion-toolbar>    
    <ion-buttons slot="start" (click)="closeModal()">
      <ion-back-button defaultHref="#"></ion-back-button>
    </ion-buttons>
    <ion-title>Published in<br/><a href="{{data.url}}">{{data.source.name}}</a></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1>{{data.title}}</h1>
  <div id="author">
    {{getPublisher()}}<br/>
    {{getDate()}}
  </div>
  <img src="{{data.urlToImage}}" alt="{{data.title}}">
  <p>{{data.content}}</p>
</ion-content>
